<section class="services container-fluid">
  <div class="row align-items-center text-white position-relative">
    <div
      class="left-part d-flex align-items-center justify-content-end flex-wrap position-relative col-12 col-md-5 px-0"
    >
      <div class="service transformation overflow-x-hidden order-md-1 order-3 position-relative">
        <div class="details position-absolute">
          <h3 class="mb-4 fw-bold">Transformation</h3>
          <a class="text-decoration-none text-white position-relative" href=""
            ><i class="bi bi-arrow-right"></i> Read More</a
          >
        </div>
      </div>
      <div class="order-2">
        <div class="envision service position-relative">
          <div class="details position-absolute">
            <h3 class="mb-4 fw-bold">Envision</h3>
            <a class="text-decoration-none text-white position-relative" href=""
              ><i class="bi bi-arrow-right"></i> Read More</a
            >
          </div>
        </div>
        <div class="dynamics service position-relative">
          <div class="details position-absolute">
            <h3 class="mb-4 fw-bold">Dynamics 365</h3>
            <a class="text-decoration-none text-white position-relative" href=""
              ><i class="bi bi-arrow-right"></i> Read More</a
            >
          </div>
        </div>
      </div>
      <div class="position-relative column-n3 order-md-3 order-1">
        <div class="crafty-mind service position-relative">
          <div class="details position-absolute">
            <h3 class="mb-4 fw-bold">Crafty Mind</h3>
            <a class="text-decoration-none text-white position-relative" href=""
              ><i class="bi bi-arrow-right"></i> Read More</a
            >
          </div>
        </div>
        <div class="services-item service position-relative">
          <div class="details position-absolute">
            <h3 class="mb-4 fw-bold">Services</h3>
            <a class="text-decoration-none text-white position-relative" href=""
              ><i class="bi bi-arrow-right"></i> Read More</a
            >
          </div>
        </div>
      </div>
    </div>
    <div class="right-part text-end d-flex flex-column col-12 col-md-7">
      <h2 class="fw-bold mb-3">We Deliver</h2>
      <h2 class="fw-bold mb-5">Digital Productivity</h2>
      <h3 class="fw-normal open-sans-font fs-3">
        We craft technology solutions that digitally
      </h3>
      <h3 class="fw-normal open-sans-font fs-3">
        bond and transform the productivity of our
      </h3>
      <h3 class="fw-normal open-sans-font fs-3">
        customers and their citizens, workers,
      </h3>
      <h3 class="fw-normal open-sans-font fs-3">consumers and partners.</h3>
    </div>
  </div>
</section>
