<header class="open-sans-font">
    <app-navbar></app-navbar>
    <section>
        <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
            <div class="carousel-indicators align-items-center">
                <button
                    type="button"
                    data-bs-target="#carouselExampleFade"
                    data-bs-slide-to="0"
                    class="slide-1 active"
                    aria-current="true"
                    aria-label="Slide 1"
                    style="background-color: #f215b6"
                ></button>
                <button
                    type="button"
                    data-bs-target="#carouselExampleFade"
                    data-bs-slide-to="1"
                    class="slide-2"
                    aria-label="Slide 2"
                    style="background-color: #a6e51c"
                ></button>
                <button
                    type="button"
                    data-bs-target="#carouselExampleFade"
                    data-bs-slide-to="2"
                    class="slide-3"
                    aria-label="Slide 3"
                    style="background-color: #ff7c16"
                ></button>
            </div>
            <div class="carousel-inner">
                <app-carousel-item
                    class="carousel-item container-fluid"
                    *ngFor="let slide of slides; index as i"
                    [ngClass]="{ active: i === 0 }"
                    [slide]="slide"
                >
                </app-carousel-item>
            </div>
        </div>
    </section>
</header>
