@mixin resposive {
  @media(max-width:600px) {
    @content;
  }
}

.carousel-fade {
  .carousel-inner {
    overflow-y: unset;
    overflow-x: clip;

    .carousel-item {
      padding: 0 10vw;
      transition: 0s opacity ease;
      -webkit-transition: 0s opacity ease;
      -moz-transition: 0s opacity ease;
      -ms-transition: 0s opacity ease;
      -o-transition: 0s opacity ease;

      @include resposive {
        padding: 0 5vw;
      }

      .slide-title {
        font-size: 4.7rem;

        @include resposive {
          background: url(../../../assets/images/slides/line-1.png) -90% 40px no-repeat !important;
        }
      }

      .slide-brief {
        width: 80%;

        @include resposive {
          width: 100%
        }
      }

      .right-side {
        position: relative;

        @include resposive {
          left: 0;
        }
      }

      .overlay {
        position: absolute;
        right: -5%;
        top: -45%;
        animation: rotateIn 5s linear infinite;
        -webkit-animation: rotateIn 5s linear infinite;

      }

      .find-out-more {
        background-color: #FF7C16;
        border-radius: 0.625;
        -webkit-border-radius: 0.625;
        -moz-border-radius: 0.625;
        -ms-border-radius: 0.625;
        -o-border-radius: 0.625;
      }
    }
  }

  .carousel-indicators {
    right: unset;
    margin-left: 10vw;
    gap: 6.25rem;

    &::before {
      width: 90%;
      height: 0.625;
      content: "";
      border-top: 0.3125rem dotted;
      position: absolute;
      top: 2.25rem;
      z-index: -1;
      left: 5%;
    }

    button {
      width: 2.5rem;
      height: 2.5rem;
      border-radius: 50%;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      -o-border-radius: 50%;
      opacity: 1;
    }

    .active {
      width: 3.25rem;
      height: 3.25rem;
    }

  }
}

.pe-10rem {
  padding-right: 10rem;

  @include resposive {
    padding-right: unset;
  }
}

@keyframes rotateIn {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
