@mixin resposive {
    @media (max-width: 600px) {
        @content;
    }
}

.carousel-fade {
    .carousel-inner {
        overflow-y: unset;
        overflow-x: clip;

        .carousel-item {
            padding: 0 10vw;
            transition: 0s opacity ease;
            -webkit-transition: 0s opacity ease;
            -moz-transition: 0s opacity ease;
            -ms-transition: 0s opacity ease;
            -o-transition: 0s opacity ease;
            z-index: -99;

            @include resposive {
                padding: 0 5vw;
                position: relative;
                z-index: -99;
            }
        }
    }

    .carousel-indicators {
        right: unset;
        margin-left: 10vw;
        gap: 6.25rem;

        &::before {
            width: 90%;
            height: 0.625;
            content: '';
            border-top: 0.3125rem dotted;
            position: absolute;
            top: 2.25rem;
            z-index: -1;
            left: 5%;
        }

        button {
            width: 2.5rem;
            height: 2.5rem;
            border-radius: 50%;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            -ms-border-radius: 50%;
            -o-border-radius: 50%;
            opacity: 1;
        }

        .active {
            width: 3.25rem;
            height: 3.25rem;
        }
    }
}
