<div class="overlay animated-div">
    <img [src]="'../../../assets/images/slides/bg-' + slide.order + '.png'" [alt]="slide.category" />
</div>
<div class="row align-items-center slide">
    <div class="col-12 col-sm-6 d-flex flex-column gap-4">
        <h4 [style.color]="'#' + slide.colorCode" class="fw-bold">
            {{ slide.category | uppercase }}
        </h4>
        <h2
            class="slide-title fw-bold"
            [style.background]="
                'url(' + '../../../assets/images/slides/line-' + slide.order + '.png) no-repeat 80% 3.125rem'
            "
            [ngClass]="{
                'pe-10rem': slide.order === 1,
                'pe-5': slide.order !== 1,
            }"
        >
            {{ slide.title }}
        </h2>
        <p class="slide-brief">{{ slide.brief }}</p>
        <div class="d-flex gap-md-5 align-items-center">
            <button class="btn find-out-more py-3 px-4 me-4">
                <a [href]="slide.itemUrl" class="text-decoration-none text-white">Find out more</a>
            </button>

            <a [href]="slide.videoUrl" class="text-decoration-none text-black">
                <img src="../../../assets/images/play-button.png" alt="Play Demo" />
                <span class="ps-md-3 ps-2">Play Demo</span>
            </a>
        </div>
    </div>
    <div class="col-12 col-sm-6 right-side">
        <img [src]="slide.imgUrl" [alt]="slide.category" width="100%" />
    </div>
</div>
