@mixin responsive {
    @media (max-width: 600px) {
        @content;
    }
}

.card {
    width: 31%;
    border-radius: 1.25rem;
    -webkit-border-radius: 1.25rem;
    -moz-border-radius: 1.25rem;
    -ms-border-radius: 1.25rem;
    -o-border-radius: 1.25rem;
    box-shadow: 0 1rem 1.625rem #00000029;

    @include responsive {
        width: 100%;
    }
}

.top-news {
    padding: 2rem 10vw;
    background: url('../../../../assets/images/news-decoreate.png') no-repeat 103% 3%;

    h2 {
        font-size: 3.125rem;
    }

    .categories {
        .btn {
            background-color: #e3e3e3;
            min-width: 7.5rem;
            border: unset;
        }

        .active {
            background-color: #0eceff;
        }
    }

    .news {
        .row {
            column-gap: 3.5%;
        }

        .view-all {
            background-color: #ff7c16;
        }
    }
}
