<section class="top-news">
    <h4 class="text-center fw-semibold">Media</h4>
    <h2 class="h1 text-center mt-3 mb-5 fw-bold">Top News</h2>
    <div class="categories d-flex gap-3 justify-content-center mb-5 flex-wrap">
        <button
            *ngFor="let category of newsCategories"
            class="btn"
            [ngClass]="{ active: category.className == 'active' }"
            (click)="getNews(category.id)"
        >
            {{ category.name }}
        </button>
    </div>
    <div class="news container-fluid">
        <div class="row row-gap-5">
            <app-story
                class="story card col-12 col-md-4 p-0 border-0"
                *ngFor="let story of news"
                [story]="story"
                [newsCategories]="newsCategories"
            ></app-story>
        </div>
        <button class="btn view-all d-block mx-auto my-5 py-3 px-5 text-white rounded-3">View All News</button>
    </div>
</section>
