<footer class="container-fluid fw-medium py-3">
  <div class="row gap-5">
    <div class="col-12 col-md-2">
      <div class="footer-logo">
        <img
          src="../../../assets/images/logo.png"
          alt="Link Development Logo"
        />
      </div>
      <h6 class="mt-4 pt-1">
        We make technology produce productive, adaptable and sustainable
        business experiences.
      </h6>
    </div>
    <div class="col-12 col-md d-flex justify-content-between offset-md-1">
      <ul class="list-unstyled">
        <h5 class="fw-bold mb-4 pb-2">Company</h5>
        <li class="mb-3">About</li>
        <li class="mb-3">Careers</li>
        <li class="mb-3">Mobile</li>
      </ul>
      <ul class="list-unstyled">
        <h5 class="fw-bold mb-4 pb-2">Contact</h5>
        <li class="mb-3">Help/FAQ</li>
        <li class="mb-3">Press</li>
        <li class="mb-3">Affilates</li>
      </ul>
      <ul class="list-unstyled">
        <h5 class="fw-bold mb-4 pb-2">Media</h5>
        <li class="mb-3">News</li>
        <li class="mb-3">Photo</li>
        <li class="mb-3">Video</li>
      </ul>
    </div>
    <div class="col-12 col-md-3 offset-md-1">
      <ul class="list-unstyled d-flex gap-5 social-links">
        <li class="d-flex justify-content-center align-items-center rounded-circle"><i class="bi bi-facebook"></i></li>
        <li class="d-flex justify-content-center align-items-center rounded-circle"><i class="bi bi-instagram"></i></li>
        <li class="d-flex justify-content-center align-items-center rounded-circle"><i class="bi bi-twitter"></i></li>
      </ul>
      <h6 class="mt-5 fs-5">Discover our app</h6>
      <div class="app-links mt-3">
        <img class="me-3" src="../../../assets/images/andorid-store.png" alt="Andorid App">
        <img src="../../../assets/images/ios-store.png" alt="ISO App">
      </div>
    </div>
  </div>
  <h6 class="copyrights text-center my-5">All rights reserved@Linkdevelopment.com</h6>
</footer>
