footer {
    padding: 0 10vw;

    .footer-logo {
        img {
            width: 10.625rem;
        }
    }

    li,
    h6 {
        color: #5e6282;
    }

    .social-links {
        li {
            width: 2.5625rem;
            height: 2.5625rem;
            box-shadow: 0 2px 1.25rem #0000001a;
            color: black;
        }
    }

    .footer-logo + h6,
    h6.copyrights {
        font-size: 0.875rem;
    }
}
